/* General */

html, body{
    font-family: "Open Sans", sans-serif;
}

.container{
    height: 100vh;
    position: relative;
}

/* side bar */

.sidebar{
    width: 410px;
    height: 100%;
    display: inline-block;
    position: relative;
}

/* toolbar */

.toolbar-container{
    width: 100%;
    height: 60px;
    background-color: #EEE;
}

.user-photo{
    width: 40px;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 10px;
    background-color: #ccc;
}

.auxicons-toolbar-container{
    float: right; 
    height: 60px;
    line-height: 60px;
    padding-right: 20px;
}

.auxicons-toolbar-container i{
    color: #80868A;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}